nav img {
	width:15%;
	margin-left:10px;
}
#loginpage{
	background: linear-gradient(
		rgba(255,255,255,0.1), 
		rgba(195,238,217,0.4)
	  ),url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#top {
	margin-top:4em;
}
.tasks h2
{
 margin-left :2em;
 color:green;
}
.tasks label
{
 margin-left :6em;
}
#myTasksProfile {
	text-align:center;
}

#myTasksProfile p {
	margin-top:1em;
}
#notifications
{
	background-color:#F8E6EB;
}
#notifications h3
{
	text-decoration: underline;
}
#myTasks{
	background-color:#D8E6EB;
	height:100%;
}



.vertical-center{
    position: fixed;
    top: 50%;
	left:50%;
	-webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	
}
.vertical-center-row{
    position: absolute;
    top: 50%;
	-webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	
}