nav img {
	width:15%;
	margin-left:10px;
}
#loginpage{
	background: linear-gradient(
		rgba(255,255,255,0.1), 
		rgba(195,238,217,0.4)
	  ),url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#top {
	margin-top:4em;
}
.tasks h2
{
 margin-left :2em;
 color:green;
}
.tasks label
{
 margin-left :6em;
}
#profile {
	text-align:center;
}

#profile p {
	margin-top:1em;
}

#myTasks{
	background-color:#D8E6EB;
	height:100%;
}

html,body,.container-fluid,#top {
    height:100%;
}

.vertical-center{
    position: relative;
    top: 50%;
    transform: translateY(30%);
}

.login_padding {
    padding-top: 100%;
        
}